@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.7%; 
}
.header p{
	font-size: 2.6rem;
}
.header{
	width: 94%;
	margin: 0 auto;
	padding: 2rem 0;
}
.read{
	width: 94%;
	margin: 0 auto;
	font-size: 1.6rem;
	color: #666;
	border-radius: 10px;
	border: 1px solid #333;
	padding:2rem 0;
	position: relative;
}
.read p{
	display: block;
	width: 94%;
	margin:0 auto;
	font-size: 1.6rem;
	line-height: 2.2rem;
}
.read span{
	height: 2.2rem;
	padding: 0 1.4rem;
	line-height:2.2rem;
	border-radius: 5px;
	background: #666;
	color: #fff;
	font-size: 1.6rem;
	position: absolute;
	top: -1.1rem;
	left: 2.4rem;
}
.arrow-down {
    width:0; 
    height:0; 
    border-left:1.2rem solid transparent;
    border-right:1.2rem solid transparent;
    border-top:1.8rem solid #000;
    margin:2.6rem auto;

}
.read_img{
	width: 94%;
	margin: 0 auto;
}
.read_img img{
	width: 100%;
}
.read_img p{
	display: block;
	width: 94%;
	margin:0 auto;
	font-size: 1.6rem;
	line-height: 2.2rem;
	padding-top: 2rem;
	color: #666;
}
.form_box{
	width: 100%;
	background: #fff1d1;
}
.form_box img{
	width: 100%;
}
.fieldset{
	border: none;
}
.inputbox input{
	width: 86%;
	height: 3.6rem;
	display: block;
	border: none;
	outline: none;
	color: #b6b6b6;
}
.img_box{
	width: 14%;
	height: 3.6rem;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: relative;
}
.img_box img{
	width: 40%;
	display: block;
}
.inputbox{
	width: 90%;
	margin: 0 auto;
	border: 1px solid #e3e3e3;
	border-radius: 10px;
	overflow: hidden;
	background-color: #fff;
	height: 3.6rem;
	display: flex;
}
.password{
	width: 90%;
	margin: 0 auto;
	height: 3.6rem;
	display: flex;
	justify-content: space-between;
	font-size: 1.6rem;
	margin-top: 2rem;
}
.inp{
	width: 52%;
	border: 1px solid #e3e3e3;
	outline: none;
	border-radius: 10px;
	display: block;
	padding:0px .4rem;
}
.btn{
	width: 40%;
	border-radius: 10px;
	display: block;
	outline: none;
	border: none;
	color: #fff;
	background: #5bade7;
}
.btn:active{
	background: #459edf;
}
.submit{
	width: 80%;
	color: #fff;
	font-size: 1.6rem;
	padding: 1.2rem 0;
	display: block;
	margin:4rem auto;
	background: #5bade7;
	border: none;
	outline: none;
	border-radius: 10px;
}
.submit:active{
	background: #459edf;
}